#profile_header {
  padding-bottom: 2rem;
}

.title {
  position: relative;
  display: inline-block;
}

.title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: .25rem;
  border-bottom: .5rem solid #93cefc;
  height: .125rem;
  width: 100%;
  z-index: -1;
}

.section {
  margin-bottom: 1.25rem;
}

.blog {
  color: #34302d;
  font-size: var(--fs-18px);
  padding: .1875rem;
}

.blog:hover {
  color: #504e4b;
  border-bottom: .1875rem solid #93cefc;
}
