form p {
  font-size: var(--fs-16px);
}

form {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

input {
  margin-top: .625rem;
  width: 100%;
  padding: 1.125rem var(--fs-16px);
  font-size: 1em;
  box-sizing: border-box;
  background-color: #fefefe;
  border: .0625rem solid #dedcda;
  border-radius: .625rem;
}

input:hover {
  background: #efedeb;
}
input:focus {
  outline: .125rem solid #93cefc;
  outline-offset: .125rem;
}

.suscribe {
  color: #1c1a19;
  background: #93cefc;
  align-self: start;
  padding: 1.125rem var(--fs-24px);
  border-radius: .625rem;
  border: none;
  font-size: 1em;
  cursor: pointer;
  margin-top: .9375rem;
  margin-bottom: .4375rem;
}
.suscribe:hover {
  background: #75b0de;
}
.suscribe:focus {
  outline-offset: .125rem;
  outline: .125rem solid #75b0de;
}

.message {
  margin-top: .125rem;
  font-size: var(--fs-16px);
  display: flex;
  align-items: center;
  gap: .3125rem;
}

.success {
  color: #008531;
}

.error {
  color: #d92d20;
}

.green {
  border: .0625rem solid #008531;
}
.red {
  border: .0625rem solid #d92d20;
}
