.title {
  position: relative;
  display: inline-block;
}

.title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: .25rem;
  border-bottom: 8px solid #93cefc;
  height: .125rem;
  width: 100%;
  z-index: -1;
}

.follow_me {
  font-size: var(--fs-24px);
  margin-top: var(--fs-24px);
  margin-bottom: .4375rem;
}

.book_list ul {
  list-style: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}


.book_list li {
  padding-left: .625rem;
  display: flex;
  align-items: flex-start;
}

.book_list li::before {
  content: "•"; /* Or use "\2022" */
  margin-right: 0.5em; /* Adjust space between bullet and text */
  line-height: 1.2;
}
