

.footer_txt {
  flex: 1 1 auto;
}

.footer_socials {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  gap: .625rem;
  padding: 0;
}

.btn {
  margin: 0;
  background-color: transparent;
  padding: .3125rem;
  border-radius: .3125rem;
  border: none;
  cursor: pointer;
}

