:root {
  --fs-16px: 1rem;
  --fs-18px: 1.125rem;
  --fs-20px: 1.25rem;
  --fs-24px: 1.5rem;
  --fs-28px: 1.75rem;
  --fs-32px: 2rem;
  --fs-40px: 2.5rem;
}


* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

/* html {
  scroll-behavior: smooth;
} */

body {
  display: flex;
  justify-content: center;
  background: #fbf9f7;
  padding: 1rem 1rem 0;
  color: #34302d;
  transition: 0.3s;
}

#root {
  width: 100%;
  max-width: 40rem;
}

#body {
  outline: .0625rem solid #efedeb;
  min-height: 100vh;
  margin: -.3125rem .3125rem 0;
  padding: 3.125rem .625rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p,
li {
  font-size: var(--fs-18px);
  color: #4a4846;
}

a {
  text-decoration: none;
}

nav a:link,
.nav a:visited {
  font-size: var(--fs-16px);
  color: #4a4846;
}

a.blog-title:link,
a.blog-title:visited {
  color: #34302d;
}

.date {
  font-style: italic;
  font-size: var(--fs-16px);
}

.desktop {
  display: none;
}

.blog-details a {
  text-decoration: none;
}

.nav-section {
  position: relative;
  background: #fff;
  outline: .0625rem solid #efedeb;
  display: flex;
  flex-wrap: wrap;
  padding: .375rem;
  border-radius: .625rem;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s;
}

.img-container {
  flex: 1;
}

.img-wrapper {
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  border-radius: .625rem;
}

.img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: auto;
  display: block;
}

.color-mode,
.hamburger {
  background: #fbf9f7;
  margin-left: 1rem;
  height: 2.54rem;
  width: 2.54rem;
  border-radius: 0.5rem;
  border: 0.625rem solid #efedeb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger {
  background: #fff;
  border: none;
  /* outline: none; */
}

.close {
  background: #34302d;
}

.close_ham {
  color: white;
}

.nav-mobile {
  padding: 0 .75rem;
  border-radius: .625rem;
  outline: .0625rem solid #efedeb;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0px;
  top: 4.375rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.nav-mobile a {
  padding: .75rem 0;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-mobile a.active {
  font-weight: bold;
}

.nav-mobile a:focus {
  outline: .125rem solid #93cefc;
  border-radius: .4375rem;
}

a:focus,
.hamburger:focus,
.color-mode:focus {
  outline: .125rem solid #93cefc;
  border-radius: .4375rem;
}

.nav-mobile > *:not(:last-child) {
  border-bottom: .0625rem solid #efedeb;
}

h1 {
  font-size: var(--fs-3.125rem);
}

h2 {
  font-size: var(--fs-28px);
  color: 34302d;
}

.profile_body {
  padding: 2rem 0;
  border-top: .0625rem solid #efedeb;
}

.title {
  margin-bottom: 1.5rem;
}

.blog-title {
  display: block;
  font-size: var(--fs-20px);
  font-weight: bold;
  color: #34302d;
  padding: .1875rem;
  transition: 0.3s;
}

article .blog-title:hover {
  text-decoration: underline;
  color: #504e4b;
}

article {
  padding: .75rem 0;
}

.social {
  background: #fff;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: .625rem;
  border: .0625rem solid #efedeb;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.social:hover {
  border: .0625rem solid #dedcda;
  background: #efedeb;
}

.social:focus {
  outline-offset: .125rem;
  outline: .125rem solid #75b0de;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  gap: .625rem;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.after {
  position: relative;
  display: inline-block;
}

.after::after {
  content: "";
  position: absolute;
  width: 1.875rem;
  bottom: .4375rem;
  height: .125rem;
  right: -.125rem;
  border-bottom: .125rem solid #93cefc;
}

p {
  line-height: 1.5;
}

.logo {
  transition: 0.5s;
}

.footer {
  border-top: .0625rem solid #efedeb;
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 0.62rem;
  row-gap: 1.25rem;
  margin-bottom: .5rem;
  margin-top: 1.875rem;
  /* position: relative;
  bottom: 0; */
}

.footer_btn:hover .logo {
  fill: #63605d;
}

@media only screen and (min-width: 48em) {
  body {
    padding: 1rem 1.25rem 0;
  }

  .mobile,
  .hamburger {
    display: none;
  }

  .desktop {
    display: block;
  }

  .nav {
    display: block;
    display: flex;
    align-items: center;
    gap: .9375rem;
  }

  .nav a.active {
    font-weight: bold;
    border-bottom: .125rem solid #93cefc;
    padding: .125rem;
    font-size: .875rem;
  }

  .dark .nav a {
    color: #fefefe;
  }
}
