.slug {
  font-size: var(--fs-40px);
  margin-bottom: var(--fs-16px);
}

.blog_des {
  margin-top: var(--fs-16px);
}

.blog_des p,
.blog_des li {
  margin-bottom: .625rem;
}

ul,
ol {
  /* list-style-position: inside; */
  margin-left:1.5625rem
}

h2 {
  margin-bottom: .4372rem;
}

blockquote {
  margin: 0 .625rem;
  padding: 0 .3125rem;
  border-left: .1875rem solid #bdbbb9;
}

hr {
  margin: 2rem 0;
  border: .0625rem solid #efedeb;
}

table {
  border-spacing: 0;
  border-collapse: separate;
  display: block;
  margin-top:  var(--fs-16px);
  margin-bottom:  var(--fs-16px);
  width: max-content;
  max-width: 100%;
  overflow: auto;
  padding: .1875rem;
}

td,
th {
  padding: .375rem .8125rem;
  border: .0625rem solid #efedeb;
}

th {
  font-weight: bold;
  text-align: left;
}

table tr:first-child th:first-child {
  border-top-left-radius: .5rem;
}

/* Top-right */
table tr:first-child th:last-child {
  border-top-right-radius: .5rem;
}

/* Bottom-left */
table tr:last-child td:first-child {
  border-bottom-left-radius: .5rem;
}

/* Bottom-right */
table tr:last-child td:last-child {
  border-bottom-right-radius: .5rem;
}
